<mat-sidenav-container class="example-container" (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <mat-list>
            <mat-list-item>
                <!-- <a [routerLink]="BasicWorld" routerLinkActive="active-link">BasicWorld</a> -->
                <p><button routerLinkActive="active-link" mat-button (click)="close('BasicWorld')">BasicWorld</button></p>
            </mat-list-item>
            <mat-list-item>
                <!-- <a [routerLink]="BasicSprite" routerLinkActive="active-link">BasicSprite</a> -->

                <p><button routerLinkActive="active-link" mat-button (click)="close('BasicSprite')">BasicSprite</button></p>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-button class="floatRight" (click)="sidenav.open()">+</button>
        
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>